[client]

[mysqld]
{% for params in mariadb_config_file.mysqld %}
{{ params }}
{% endfor %}

{% if  ansible_distribution_file_variety == "RedHat" %}
[mariadb]
{% endif %}

{% if  ansible_distribution_file_variety == "Debian" %}
!includedir /etc/mysql/mariadb.conf.d/
{% endif %}
